@media (min-width: 600px) {
    .maindiv {
        width: 95%;
        display: grid;
        grid-template-columns: 280px auto;
        padding: 1rem;
    }

    .calcdiv {
        width: 270px;
        grid-column: 1;
    }

    .histdiv {
        grid-column: 2;
        width: 100%;
        margin-left: 1rem;
        align-items: flex-start;
    }
}
@media (min-width: 850px) {
    .maindiv {
        width: 840px;
        display: grid;
        grid-template-columns: 280px auto;
        padding: 1rem;
    }

    .calcdiv {
        width: 270px;
        grid-column: 1;
    }

    .histdiv {
        grid-column: 2;
        width: 100%;
        margin-left: 1rem;
        align-items: flex-start;
    }
}

@media (max-width: 600px) {
    .maindiv {
        width: 100%;
        padding: 1rem;
    }

    .calcdiv {
        width: 270px;
    }

    .histdiv {
        margin-top: 1rem;
        width: 90%;
    }
}

.table_calculator {
    width: 100%;
    border-color: black;
    border-width: 1px;
    border: 1px;
}

table_history {
    width: 100%;
    border-color: black;
    border-width: 1px;
    border: 1px;
}

.display,
.version {
    border: 5px;
    border-color: black;
    height: 2rem;
    background-color: yellow;
    text-align: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 6px;
    width: 80rem;
}

.key {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-color: black;
    border-width: 1px;
    background-color: lightgray;
    text-align: center;

    width: 50px;
    height: 35px;
    padding: 6px;
}

.largerkey {
    width: 156px;
}

.tr_hystory:hover {
    cursor: pointer;
}
